## Loading the Required Packages into Python

In [1]:
import pandas as pd
import numpy as np
from matplotlib import style
import seaborn as sns
sns.set(style='ticks', palette='RdBu')
#sns.set(style='ticks', palette='Set2')
import datetime
import pytz
import businesstimedelta
import holidays as pyholidays
from pdflatex import PDFLaTeX

In [2]:
#!pip install pandoc

## Loading the Data Sets Into Python

In [3]:
data=pd.read_excel(r"C:\Users\OPTICA\Desktop\Test working hours.xlsx")
df_original=data
df=data
#data["created Date"]=pd.concat(data["Created"],data["Date"])
data.head()

,Index,Created Date,Created Day,Update Date,Update Day,Test,Actual
0,10086,2021-11-03 17:00:00,Wed,2021-11-04 17:00:00,Thu,Should count ou night hrs,NaN
1,10087,2021-06-04 17:00:00,Fri,2021-06-05 16:00:00,Sat,Should count Sat,NaN
2,10088,2021-05-31 18:00:00,Mon,2021-06-02 16:00:00,Wed,should count ou Madaraka day Holiday(1st),NaN
3,10089,2021-05-14 09:00:00,Fri,2021-05-14 17:00:00,Fri,Shoul count out idd holiday(Not a Main Holiday...,0.066667
4,10090,2021-05-26 17:31:00,Wed,2021-05-26 17:39:00,Wed,NaN,0.133333

# Function For Calculating Working Hours(Weekday(9am to 6pm) and Saturday(9am to 5pm))

In [4]:
# Define a working day

####Days of the week
workday = businesstimedelta.WorkDayRule(
    start_time=datetime.time(9),
    end_time=datetime.time(18),
    working_days=[0, 1, 2, 3, 4])

vic_holidays = pyholidays.KE()
holidays = businesstimedelta.HolidayRule(vic_holidays)
businesshrs = businesstimedelta.Rules([workday, holidays])

def BusHrs(start, end):
    return businesshrs.difference(start,end).hours+float(businesshrs.difference(start,end).seconds)/float(3600)
Week_hrs=df.apply(lambda row: BusHrs(row['Created Date'], row['Update Date']), axis=1)

####Weekends
# Define a working weekend day(Saturday)

Saturday = businesstimedelta.WorkDayRule(
    start_time=datetime.time(9),
    end_time=datetime.time(16),
    working_days=[5])

vic_holidays = pyholidays.KE()
holidays = businesstimedelta.HolidayRule(vic_holidays)
businesshrs = businesstimedelta.Rules([Saturday, holidays])

def SatHrs(start, end):
    return businesshrs.difference(start,end).hours+float(businesshrs.difference(start,end).seconds)/float(3600)



Sat_hrs=df.apply(lambda row: SatHrs(row['Created Date'], row['Update Date']), axis=1)

df["Working_Hours"]=Week_hrs+Sat_hrs

In [5]:

workday = businesstimedelta.WorkDayRule(
    start_time=datetime.time(9),
    end_time=datetime.time(18),
    working_days=[0, 1, 2, 3, 4,5])
Saturday=businesstimedelta.LunchTimeRule(start_time=datetime.time(16),end_time=datetime.time(18),working_days=[5])   
vic_holidays = pyholidays.KE()
holidays = businesstimedelta.HolidayRule(vic_holidays)

businesshrs = businesstimedelta.Rules([workday,Saturday, holidays])

def BusHrs(start, end):
    return businesshrs.difference(start,end).hours+float(businesshrs.difference(start,end).seconds)/float(3600)
Week_hrs=df.apply(lambda row: BusHrs(row['Created Date'], row['Update Date']), axis=1)

df["Working_Hours2"]=Week_hrs

In [6]:

df.head(31)

,Index,Created Date,Created Day,Update Date,Update Day,Test,Actual,Working_Hours,Working_Hours2
0,10086,2021-11-03 17:00:00,Wed,2021-11-04 17:00:00,Thu,Should count ou night hrs,NaN,9.000000,9.000000
1,10087,2021-06-04 17:00:00,Fri,2021-06-05 16:00:00,Sat,Should count Sat,NaN,8.000000,8.000000
2,10088,2021-05-31 18:00:00,Mon,2021-06-02 16:00:00,Wed,should count ou Madaraka day Holiday(1st),NaN,7.000000,7.000000
3,10089,2021-05-14 09:00:00,Fri,2021-05-14 17:00:00,Fri,Shoul count out idd holiday(Not a Main Holiday...,0.066667,8.000000,8.000000
4,10090,2021-05-26 17:31:00,Wed,2021-05-26 17:39:00,Wed,NaN,0.133333,0.133333,0.133333
5,10091,2021-05-26 17:25:00,Wed,2021-05-26 17:38:00,Wed,NaN,0.216667,0.216667,0.216667
6,10091,2021-05-26 17:05:00,Wed,2021-05-26 17:12:00,Wed,NaN,0.116667,0.116667,0.116667
7,10091,2021-05-26 17:03:00,Wed,2021-05-26 17:13:00,Wed,NaN,0.166667,0.166667,0.166667
8,10091,2021-05-26 16:59:00,Wed,2021-05-26 17:11:00,Wed,NaN,0.200000,0.200000,0.200000
9,10091,2021-05-26 16:59:00,Wed,2021-05-26 17:11:00,Wed,NaN,0.200000,0.200000,0.200000
10,10091,2021-05-26 16:59:00,Wed,2021-05-26 17:11:00,Wed,NaN,0.200000,0.200000,0.200000
11,10091,2021-05-26 16:59:00,Wed,2021-05-26 17:11:00,Wed,NaN,0.200000,0.200000,0.200000
12,10091,2021-05-26 16:59:00,Wed,2021-05-26 17:11:00,Wed,NaN,0.200000,0.200000,0.200000
13,10091,2021-05-26 16:59:00,Wed,2021-05-26 17:11:00,Wed,NaN,0.200000,0.200000,0.200000
14,10091,2021-05-26 16:55:00,Wed,2021-05-26 17:01:00,Wed,NaN,0.100000,0.100000,0.100000
15,10091,2021-05-26 16:48:00,Wed,2021-05-26 16:59:00,Wed,NaN,0.183333,0.183333,0.183333
16,10091,2021-05-26 16:48:00,Wed,2021-05-26 16:54:00,Wed,NaN,0.100000,0.100000,0.100000
17,10091,2021-05-26 16:47:00,Wed,2021-05-26 16:54:00,Wed,NaN,0.116667,0.116667,0.116667
18,10091,2021-05-26 16:47:00,Wed,2021-05-26 16:54:00,Wed,NaN,0.116667,0.116667,0.116667
19,10091,2021-05-26 16:47:00,Wed,2021-05-26 16:59:00,Wed,NaN,0.200000,0.200000,0.200000
20,10091,2021-05-26 16:47:00,Wed,2021-05-26 16:54:00,Wed,NaN,0.116667,0.116667,0.116667
21,10091,2021-05-26 16:47:00,Wed,2021-05-26 16:54:00,Wed,NaN,0.116667,0.116667,0.116667
22,10091,2021-05-26 16:47:00,Wed,2021-05-26 16:54:00,Wed,NaN,0.116667,0.116667,0.116667
23,10091,2021-05-26 16:43:00,Wed,2021-05-26 16:59:00,Wed,NaN,0.266667,0.266667,0.266667
24,10091,2021-05-26 16:43:00,Wed,2021-05-26 16:49:00,Wed,NaN,0.100000,0.100000,0.100000
25,10091,2021-05-26 16:43:00,Wed,2021-05-26 16:49:00,Wed,NaN,0.100000,0.100000,0.100000
26,10091,2021-05-26 16:43:00,Wed,2021-05-26 16:49:00,Wed,NaN,0.100000,0.100000,0.100000

In [7]:
pd.pivot_table(df,index="Update Day",values="Working_Hours",aggfunc=[np.mean])
AverageTime_MainStore1 = pd.pivot_table(df,
                        values = ('Working_Hours'),
                        index = ['Update Day'],
                        columns = [],aggfunc=[np.mean],
                        margins=True).fillna('')
cm = sns.light_palette("red", as_cmap=True)
AverageTime_MainStore1.style.background_gradient(cmap=cm)